<%# form made using vanilla HTML forms %>

<%# <form action="/users" method="post" accept-charset="UTF-8"> %>
<%#   <ul> %>
<%#     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %1>"> %>
<%#     <li> %>
<%#       <label for="username">Username: </label> %>
<%#       <input type="text" id="username" name="user[username]"> %>
<%#     </li> %>
<%#     <li> %>
<%#       <label for="password">Password: </label> %>
<%#       <input type="password" id="password" name="user[password]"> %>
<%#     </li> %>
<%#     <li> %>
<%#       <label for="email">Email: </label> %>
<%#       <input type="email" id="email" name="user[email]"> %>
<%#     </li> %>
<%#   </ul> %>
<%#   <button type="submit">Submit form</button> %>
<%# </form> %>

<%# form made using deprecated form_tag helper %>

<%# <%= form_tag("/users", method: "post") do %1> %>
<%#   <div> %>
<%#     <%= label_tag(:username) %1>: %>
<%#     <%= text_field_tag(:username) %1> %>
<%#   </div> %>
<%#   <div> %>
<%#     <%= label_tag(:password) %1>: %>
<%#     <%= password_field_tag(:password) %1> %>
<%#   </div> %>
<%#   <div> %>
<%#     <%= label_tag(:email) %1>: %>
<%#     <%= email_field_tag(:email) %1> %>
<%#   </div> %>
<%#   <%= submit_tag("Submit form") %1> %>
<%# <% end %1> %>

<%# form made using rails form_with helper %>

<%= form_with model: user do |form| %>
  <div>
    <%= form.label :username %>:
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %>:
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :email %>:
    <%= form.email_field :email %>
  </div>
  <%= form.submit "Submit form" %>
<% end %>
